<ion-header>
  <ion-navbar>
    <ion-title>{{buildingname}}{{roomname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>部位</ion-label>
      <ion-label>{{position}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>检查项</ion-label>
      <ion-label>{{checkitem}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>描述</ion-label>
      <ion-label>{{itdesc}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label left>整改前照片</ion-label>
      <ion-thumbnail item-right *ngFor="let item of images" style="margin:5px;min-width:50px;min-height:50px">
        <img [src]="item" (click)="showBigImage(item,0)" style="width:50px; height:50px"/>
      </ion-thumbnail>
    </ion-item>

    <ion-item>
      <ion-label left>整改后照片</ion-label>
      <ion-thumbnail item-right *ngFor="let item of imagesfixed" style="margin:5px;min-width:50px;min-height:50px">
        <!--<div style="color:red"><ion-icon ios="ios-close" md="md-close" (click)="deleteimage(item)"></ion-icon></div>-->
        <img [src]="item" (click)="showBigImage(item,1)" style="width:50px; height:50px"/>
      </ion-thumbnail>
    </ion-item>
  <!--</ion-list>-->

  <!--<ion-list>
    <button ion-button full outline (click)="plusinfo()">更多信息 {{arrow}}</button>
  </ion-list>-->

  <!--<div id="plusinfo" hidden=true>-->
    <!--<ion-list>-->
      <ion-item>
        <ion-label>承建商(整改单位)</ion-label>
        <ion-label>{{vend}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>责任单位</ion-label>
        <ion-label>{{resunit}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>登记时间&nbsp;&nbsp;&nbsp;&nbsp;{{registertime}}</ion-label>        
      </ion-item>
      <ion-item>
        <ion-label>整改时限&nbsp;&nbsp;&nbsp;&nbsp;{{duetime}}</ion-label>        
      </ion-item>
      <ion-item>
        <ion-label>整改时间&nbsp;&nbsp;&nbsp;&nbsp;{{fixtime}}</ion-label>        
      </ion-item>
    </ion-list>
  <!--</div>-->

  <!--<div id="actionbtn" *ngIf="showbutton" >
  <button ion-button block (click)="passclick()">通过</button>
  <button *ngIf="status==='已整改'" ion-button block color="danger" (click)="rejectclick()">退回</button>  
  <button ion-button  block color="energized" (click)="closedclick()">非正常关闭</button>
  <button ion-button block color="dark" (click)="cancelclick()">作废</button>  
  </div> -->
</ion-content>

<ion-footer id="actionbtn" *ngIf="showbutton">
  <div id="footbar">
    <table style="width:100%;">
      <tr>
        <td *ngIf="userrole.indexOf('A3') != -1">
          <button ion-button color="energized" full (click)="closedclick()">非正常关闭</button>
        </td>
        <td *ngIf="status==='已整改' && userrole.indexOf('A5') != -1">
          <button ion-button full color="danger" (click)="rejectclick()">退回</button>
        </td>
        <td *ngIf="userrole.indexOf('A4') != -1">
          <button ion-button full (click)="passclick()">通过</button>
        </td>
      </tr>
    </table>
  </div>
</ion-footer>